modules = ["nodejs-20", "docker"]
hidden = [".git", "node_modules", "build", "dist", ".next"]

[nix]
channel = "stable-23_11"

[unitTest]
language = "nodejs"

[packager]
language = "nodejs"
ignoredPaths = ["node_modules"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 7050
externalPort = 7050

[[ports]]
localPort = 7051
externalPort = 7051

[[ports]]
localPort = 7052
externalPort = 7052

[[ports]]
localPort = 7054
externalPort = 7054

[env]
NEXT_PUBLIC_API_URL = "https://your-replit-url.replit.dev"
NODE_ENV = "production"
